.card-deliveboo.table-dish {
    position: static;

    .img-table {
        width: 200px;
        border-radius: 10px;
    }
}

.crud-group {
    display: flex;
    justify-content: end;
}

/*Beackpoint Responsive*/
@media screen and (max-width: 2000px) {
    .crud-group {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {
    .media-992 {
        display: none;
    }
}

@media screen and (max-width: 786px) {
    .media-786 {
        display: none;
    }

    /* .btn {
        border-radius: 50%;
        padding: 10px;
    } */
}