.card-deliveboo.table-dish {
    position: static;

    .img-table {
        width: 200px;
        height: 130px;
        object-fit: fill;
        border-radius: 10px;
    }
}

.crud-group {
    display: flex;
    justify-content: center;
    flex-direction: column;

}

/*Beackpoint Responsive*/
@media screen and (max-width: 992px) {
    .dish-992 {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .crud-group {
        .btn-custom {
            border-radius: 50%;
            padding: 10px;
            width: 50px;
        }
    }
}

@media screen and (max-width: 786px) {
    .dish-786 {
        display: none;
    }
}