main {
    // background-color: #fefefe;
}

.bg-transparent {
    background-color: transparent;
}

.bg-deliveboo {
    background-color: #00A082;
    color: #FFC244;
    border-color: #FFC244;
}

.background-container {
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo-box {
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    border: 1px solid #fff;
    border-radius: 20px;

    position: absolute;
    top: -30px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}

.btn-custom {
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 600;
    width: 90px;

    i {
        margin: 0 auto;
    }
}

.btn-primary {
    color: #fff;
    background-color: #00A082;
    border-color: #00A082;

    &:hover {
        background-color: aquamarine;
        border-color: aquamarine;
    }

    &:active {
        background-color: #00A082;
        border-color: #00A082;
    }
}

.btn.btn-deliveboo {
    color: #00A082;
    background-color: #FFC244;
    border-color: #FFC244;

    &:hover {
        color: #FFC244;
        background-color: #00A082;
        border-color: #00A082;
        transition: 0.5s;
    }
}

.btn.btn-deliveboo.clicked {
    color: #FFC244;
    background-color: #00A082;
    border-color: #00A082;
}

.card-deliveboo {
    padding: 40px;
    border: 0px;
    border-radius: 20px 70px 20px 20px;
    box-shadow: 0px 2px 24px 1px #0000001A;

    position: relative;
    bottom: 125px;



    h1 {
        margin-top: 30px;
        font-weight: 700;
    }

}

.card-bottom {
    display: flex;
    justify-content: space-between;

    .types {
        text-align: end;
        padding: 5px 20px;
        border-radius: 20px;
        border: 1px solid #FFC244;

        li {
            margin-bottom: 10px;
        }
    }
}


#food-box {
    width: 200px;
    height: 200px;
    background-color: dodgerblue;
    border: 1px solid #fff;
    border-radius: 20px;

    position: absolute;
    top: -150px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
}