// Navbar
.navbar {
    background-color: #FFC244;
    min-height: 100px;
    font-weight: bold;
    box-shadow: none;

    .logo_deliveboo {
        text-decoration: none;

        h1 {
            font-family: "Quicksand", sans-serif;
            color: #01a083;
            font-size: 2.3rem;
            font-weight: 700;
        }

        img {
            width: 40px;
            height: auto;
            position: relative;
            bottom: 10px;
            right: 15px;
        }

    }

}

.jumbotron {
    background-color: #FFC244;
    background-size: cover;
    height: 500px;

    h1 {
        font-size: 3.5rem;
        font-weight: 700;
    }

    .btn {
        padding: 10px 30px;
        border-radius: 50px;
        font-weight: 600;
    }
}

.wave {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .jumbotron {
        img {
            height: 250px;
            margin: auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .jumbotron {
        img {
            display: none;
        }
    }
}