// Navbar
.navbar {
    background-color: #ffaa00c1;
    min-height: 100px;
    font-weight: bold;
    box-shadow: none;

    .logo_deliveboo {
        color: #01a083;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        font-size: 2rem;
        text-decoration: none;

        img {
            width: 30px;
            height: auto;
            position: relative;
            right: 10px;
        }

    }

}

.jumbotron {
    background-color: #ffaa00c1;
    background-size: cover;
    font-weight: bolder;
    height: 500px;

    h1 {
        font-size: 3rem;
        font-weight: bolder;
    }

    img {
        max-width: 400px;
    }

    .btn {
        padding: 10px 30px;
        border-radius: 50px;
        font-weight: 600;
    }
}

.wave {
    width: 100%;
}