.section-1 {
    background-image: url("img/pexels-horizon-content-2100060-3762069.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;

    .h1 {
        color: white;
        font-weight: bolder;
        font-size: 5rem;
    }
}

.section-2 {
    height: 100vh;

    .content-card {
        width: calc(100% / 3);
    }
}