img {
    width: 100%;
}

.container {
    width: 1200px;
}

.bg-footer {
    height: fit-content;
    background-color: #1D1D1D;

    .logo-text {
        font-family: "Quicksand", sans-serif;
        color: white;
        font-weight: 700;
        font-size: 2rem;

        .logo-img {
            height: 30px;
            width: auto;
            position: relative;
            bottom: 15px;
            right: 22px;
        }
    }
}


.link-title {
    font-weight: 700;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        font-size: 15px;

    }

    a {
        color: white;
        text-decoration: none;
    }
}