nav {
    background-color: #ffaa00c1;
    min-height: 100px;
    font-weight: bold;

    .logo_deliveboo {
        color: #01a083;
        font-family: "Quicksand", sans-serif;
        font-weight: 700;
        font-size: 2rem;

        img {
            max-width: 30px;
        }

    }

}